.blackBar
{
    width: auto;
    height: 50px;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    background-color: #000;
}

.button
{
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 10px 50px;
    display: inline-block;
    text-decoration: none;
    border: none;
}

.button:disabled
{
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 10px 50px;
    display: inline-block;
    text-decoration: none;
    border: none;
}